<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coordinador-Practicas ESEI</title>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- Bootstrap Core CSS -->
    <link href="../../layouts/coordinador/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../layouts/coordinador/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../../layouts/coordinador/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../layouts/coordinador/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="../../views/coordinador/principal.php">Coordinador</a>
            </div>
            <!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
						<li>
                            <a href="mensajes.php"><i class="fa fa-fw fa-envelope"></i>Mensajes</a>
                        </li>
                        <li>
                            <a href="../../controllers/CoordinadorController.php?action=perfil"><i class="fa fa-fw fa-gear"></i>Perfil</a>
                        </li>
                        <li>
                            <a href="../../controllers/CoordinadorController.php?action=logout"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
                        </li>
			</ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="../../views/coordinador/principal.php"><i class="fa fa-fw fa-dashboard"></i>Home</a>
                    </li>
                    <li>
                        <a href="../../controllers/CoordinadorController.php?action=eventos"><i class="fa fa-fw fa-table"></i>Gesti&oacute;n del Calendario</a>
                    </li>
                    <li>
                        <a href="usuarios.php"><i class="fa fa-fw fa-edit"></i>Administraci&oacute;n de Usuarios</a>
                    </li>
                    <li>
                        <a href="../../controllers/CoordinadorController.php?action=ofertasPracticas"><i class="fa fa-fw fa-edit"></i>Gesti&oacute;n de las ofertas de empresas</a>
                    </li>
                    <li>
                        <a href="../../controllers/CoordinadorController.php?action=verSolicitantes"><i class="fa fa-fw fa-edit"></i>Asignaci&oacute;n Estudiante-Empresa</a>
                    </li>
                    <li>
                        <a href="../../controllers/CoordinadorController.php?action=listarPracticasAsignadas"><i class="fa fa-fw fa-edit"></i>Asignaci&oacute;n de Tutores</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Alta de Estudiantes
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
				
				<?php
					if(isset($_GET["msg"])){
						$msg = $_GET["msg"];
						echo "<b style='color:red'>$msg</b>";
					}
				?>
				
				<?php
					if(isset($_GET["datos"])){
						$array = json_decode($_GET["datos"],true);
					}
				?>
				
				<div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
						<form class="form-signin" name="f1" onsubmit="return checkPass(this)" action="../../controllers/RegistroController.php?tipo=EstudianteC" method="POST" id="login">
						<b>Nombre</b><input type="text" name="nombre" class="form-control" value="<?php if(isset($_GET["datos"])){echo $array["nombre"];} ?>" required autofocus>
						</br>
						<b>Apellidos</b><input type="text" name="apellidos" value="<?php if(isset($_GET["datos"])){echo $array["apellidos"];} ?>" class="form-control" required>
						</br>
						<b>DNI</b><input type="text" name="dni" value="<?php if(isset($_GET["datos"])){echo $array["dni"];} ?>" class="form-control" required>
						</br>
						<b>Fecha de Nacimiento</b><input type="date" id="datepicker" name="fNac" value="<?php if(isset($_GET["datos"])){echo $array["fNac"];} ?>" class="form-control" required>
						</br>
						<b>Correo electr&oacute;nico</b><input type="text" name="email" value="<?php if(isset($_GET["datos"])){echo $array["email"];} ?>" class="form-control" required>
						</br>
						<b>Telefono</b><input type="text" name="telefono" value="<?php if(isset($_GET["datos"])){echo $array["telefono"];} ?>" class="form-control" required>
						</br>
						<b>Login</b><input type="text" name="login" class="form-control"  required>
						</br>
						<b>Password</b><input type="password" name="clave1" class="form-control" required>
						</br>
						<b>Repite Password</b><input type="password" name="clave2" class="form-control" required>
						</br>
						<input type="hidden" name="campus" value="Ourense"/>
						<input type="hidden" name="facultad" value="ESEI" required>
						<b>Titulaci&oacute;n</b>
						<select class="form-control" name="titulacion" form="login">
						<option value="Grado">Grado</option>
						<option value="Master">Master</option>
						</select>
						</br>
						<b>Curso</b><input type="text" name="curso" placeholder="E.j. 2015/2016" class="form-control" value="<?php if(isset($_GET["datos"])){echo $array["curso"];} ?>" required>
						</br>
						<b>Media del expediente acad&eacute;mico</b><input type="text" placeholder="E.j. 7.6565" name="expA" class="form-control" value="<?php if(isset($_GET["datos"])){echo $array["expA"];} ?>" required>
						</br>
						<b>A&ntilde;o de Inicio de la titulaci&oacute;n</b><input type="text" placeholder="E.j. 2012" name="aInicio" value="<?php if(isset($_GET["datos"])){echo $array["inicio"];} ?>" class="form-control" required>
						</br>
						<b>A&ntilde;o de pr&aacute;cticas anteriores(opcional)</b><input type="text" name="pAntesYear" value="<?php if(isset($_GET["datos"])){echo $array["pAntesYear"];} ?>" class="form-control">
						</br>
						<button style="background:#E8E8E8" class="btn btn-sm btn-default btn-block" type="submit">
							<b>Enviar</b></button>
						</form>
						<br>
						<a href="usuarios.php" class="btn btn-sm btn-default btn-block" style="background:#E8E8E8"><b>Cancelar</b></a>
					</div>
					</br>
					</div>
				</div>
											
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>
	
	<!-- script Custom -->
	<!-- script Custom -->
	<script language="JavaScript">
		function checkPass(f){
			clave1 = f.clave1.value;
			clave2 = f.clave2.value;
			expediente = f.expA.value;
			dni = f.dni.value;
			correo = f.email.value;
			telefono = f.telefono.value;
			curso = f.curso.value;
			aInicio = f.aInicio.value;
			pAntesYear = f.pAntesYear.value;
			fNac = f.fNac.value;

			validEmail = isValidEmail(correo);
			validDNI = nif(dni);
			validPhone = isValidPhone(telefono);
			validCurso = isValidCurso(curso);
			validInicio = isValidInicio(aInicio);
			validAnteriores = isValidAnteriores(pAntesYear);
			validExpediente = isValidExpediente(expediente);
			validFecha = isValidFecha(fNac);
			posteriorFecha = isPosterior(fNac);
			posteriorInicio = isPosteriorYear(aInicio);
			
			
			if(validEmail == false){
				alert("|INFO| El formato del email no es correcto.");
				return false;
			}else if(validExpediente == false){
				alert("|INFO| El expediente académico no es correcto.Debe ser un decimal de orden 4 entre 0 y 10. Por ejemplo: 7.6565");
				return false;
			}else if(validAnteriores == false){
				alert("|INFO| El año de prácticas realizadas con anterioridad debe ser un año válido, o vacío.");
				return false;
			}else if(validPhone == false){
				alert("|INFO| El telefono debe tener 9 numeros");
				return false;
			}else if(validInicio == false){
				alert("|INFO| El año de inicio debe ser un año válido, por ejemplo 2014");
				return false;
			}else if(posteriorInicio == true){
				alert("|INFO| El año de inicio no puede ser superior al actual.");
				return false;
			}else if(validCurso == false){
				alert("|INFO| El curso debe indicar el curso actual, por ejemplo: 2015/2016");
				return false;
			}else if(validDNI == false){
				alert("|INFO| Introduzca un DNI valido");
				return false;
			}else if(clave1 != clave2){
				alert("|INFO| Las password deben coincidir.");
				return false;
			}else if(isNaN(expediente)){
				alert("|INFO| El expediente debe ser un valor numerico(decimales con.)");
				return false;
			}else if(validFecha == false){
				alert("|INFO| El formato de la fecha no es válido: DD/MM/YYYY");
				return false;
			}else if(posteriorFecha == true){
				alert("|INFO| La fecha no puede ser posterior a la actual.");
				return false;
			}else{
				return true;
			}
					
		}
		
		function isPosteriorYear(curso){
			var dt = new Date();
			
			var year = dt.getFullYear();
			
			if(curso > year){
				return true;
			}else{
				return false;
			}
		}
		
		function isPosterior(fecha){
			var dt = new Date();
			
			var month = dt.getMonth()+1;
			var day = dt.getDate();
			var year = dt.getFullYear();
			date = fecha.split('-');
			if(date[0]>year){
				return true;
			}else if(date[0] == year & date[1]>month){
				return true;
			}else if(date[0] == year & date[1] == month & date[2]>day){
				return true;
			}else{
				return false;
			}
		}
		
		function isValidFecha(fNac){
			expresion_regular = /^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/;
			if(expresion_regular.test(fNac)){
				return true;
			}else{
				return false;
			}
		}
		
		function isValidExpediente(expediente){
			expresion_regular_expediente = /^[0-9]\.[0-9]{4}$/;
			if(expresion_regular_expediente.test(expediente) == true){
				return true;
			}else{
				expresion_regular_expediente = /^10\.0{4}$/
				if(expresion_regular_expediente.test(expediente) == true){
					return true;
				}else{
					return false;
				}
			}
			
		}
		
		
		function isValidAnteriores(pAntesYear){
			expresion_regular_anteriores = /^\d{4}$/;
			if(expresion_regular_anteriores.test(pAntesYear) == true){
				return true;
			}else{
				if(pAntesYear.length == 0){
					return true;
				}else{
					return false;
				}
			}
		}
		
		function isValidInicio(aInicio){
			expresion_regular_inicio = /^\d{4}$/;
			if(expresion_regular_inicio.test(aInicio) == true){
				return true;
			}else{
				return false;
			}
		}
		
		function isValidCurso(curso){
			expresion_regular_curso = /^\d{4}\/\d{4}$/;
			if(expresion_regular_curso.test(curso) == true){
				return true;
			}else{
				return false;
			}
		}
		
		function isValidPhone(phone){
			expresion_regular_telefono = /^\d{9}$/;
			if(expresion_regular_telefono.test(phone) == true){
				return true;
			}else{
				return false;
			}
		}
		
		function isValidEmail(mail){
			return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/.test(mail);
		}
		
		function nif(dni){
		  var numero;
		  var letr;
		  var letra;
		  var expresion_regular_dni;
		 
		  expresion_regular_dni = /^\d{8}[a-zA-Z]$/;
		 
		  if(expresion_regular_dni.test (dni) == true){
			 numero = dni.substr(0,dni.length-1);
			 letr = dni.substr(dni.length-1,1);
			 numero = numero % 23;
			 letra='TRWAGMYFPDXBNJZSQVHLCKET';
			 letra=letra.substring(numero,numero+1);
			if (letra!=letr.toUpperCase()) {
			   return false;
			 }else{
			   return true;
			 }
		  }else{
			 return false;
		  }
		}
	</script>
	
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script>
		$('#datepicker').datepicker({
		dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, yearRange: '-70:-1'});
	</script>

</body>

</html>