<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coordinador-Practicas ESEI</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../layouts/coordinador/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../layouts/coordinador/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../../layouts/coordinador/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../layouts/coordinador/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="../../views/coordinador/principal.php">Coordinador</a>
            </div>
            <!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
						<li>
                            <a href="mensajes.php"><i class="fa fa-fw fa-envelope"></i>Mensajes</a>
                        </li>
                        <li>
                            <a href="../../controllers/CoordinadorController.php?action=perfil"><i class="fa fa-fw fa-gear"></i>Perfil</a>
                        </li>
                        <li>
                            <a href="../../controllers/CoordinadorController.php?action=logout"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
                        </li>
			</ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="../../views/coordinador/principal.php"><i class="fa fa-fw fa-dashboard"></i>Home</a>
                    </li>
                    <li>
                        <a href="../../controllers/CoordinadorController.php?action=eventos"><i class="fa fa-fw fa-table"></i>Gesti&oacute;n del Calendario</a>
                    </li>
                    <li>
                        <a href="usuarios.php"><i class="fa fa-fw fa-edit"></i>Administraci&oacute;n de Usuarios</a>
                    </li>
                    <li>
                        <a href="../../controllers/CoordinadorController.php?action=ofertasPracticas"><i class="fa fa-fw fa-edit"></i>Gesti&oacute;n de las ofertas de empresas</a>
                    </li>
                    <li>
                        <a href="asignacionesAT.php"><i class="fa fa-fw fa-edit"></i>Asignaci&oacute;n de Tutores</a>
                    </li>
                    <li>
                        <a href="tutores.php"><i class="fa fa-fw fa-edit"></i>Asignaci&oacute;n Estudiante-Empresa</a>
                    </li>
                    <li>
                        <a href="anulaciones.php"><i class="fa fa-fw fa-edit"></i>Gesti&oacute;n de Cambios y Anulaciones</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Alta Empresas
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

				<div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
						<form class="form-signin" name="f1" onsubmit="return checkPass(this)" action="../../controllers/RegistroController.php?tipo=Empresa" method="POST">
						Nombre:<input type="text" name="nombre" class="form-control" placeholder="Nombre de la empresa" required autofocus>
						</br>
						Centro:<input type="text" name="centro" class="form-control" placeholder="Centro de la empresa" required>
						</br>
						Localidad:<input type="text" name="localidad" class="form-control" placeholder="ej: Celanova" required>
						</br>
						Provincia:<input type="text" name="provincia" class="form-control" placeholder="ej: Ourense" required>
						</br>
						Calle:<input type="text" name="calle" class="form-control" placeholder="ej: Avd Castor" required>
						</br>
						Gmail:<input type="text" name="email" class="form-control" placeholder="ej: user@gmail.com" required>
						</br>
						Telefono:<input type="text" name="telefono" class="form-control" placeholder="ej: 000000000" required>
						</br>
						Login:<input type="text" name="login" class="form-control" placeholder="Tu nombre de usuario" required>
						</br>
						Password:<input type="password" name="clave1" class="form-control" placeholder="Password" required>
						</br>
						Repite Password:<input type="password" name="clave2" class="form-control" placeholder="Password" required>
						</br>
						NombreTutor:<input type="text" name="nombreTutor" class="form-control" placeholder="Nombre del tutor de la empresa" required>
						</br>
						CargoTutor:<input type="text" name="cargoTutor" class="form-control" placeholder="Cargo del tutor de la empresa" required>
						</br>
						Tareas:<input type="text" name="tareas" class="form-control" placeholder="Tareas del tutor">
						</br>
						<button class="btn btn-sm btn-default btn-block" type="submit">
							Enviar</button>
						</form>
						</div>
					</br>
					</div>
				</div>							
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>
	
	<!-- script Custom -->
	<script language="JavaScript">
			function checkPass(f){
				clave1 = f.clave1.value
				clave2 = f.clave2.value
				if(clave1 != clave2){
					alert("|INFO| Las password deben coincidir");
					return false;
				}else{
					return true;
				}
			}
	</script>

</body>

</html>