<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coordinador-Practicas ESEI</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../layouts/coordinador/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../layouts/coordinador/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../../layouts/coordinador/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../layouts/coordinador/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="../../views/coordinador/principal.php">Coordinador</a>
            </div>
            <!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
						<li>
                            <a href="mensajes.php"><i class="fa fa-fw fa-envelope"></i>Mensajes</a>
                        </li>
                        <li>
                            <a href="../../controllers/CoordinadorController.php?action=perfil"><i class="fa fa-fw fa-gear"></i>Perfil</a>
                        </li>
                        <li>
                            <a href="../../controllers/CoordinadorController.php?action=logout"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
                        </li>
			</ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="../../views/coordinador/principal.php"><i class="fa fa-fw fa-dashboard"></i>Home</a>
                    </li>
                    <li>
                        <a href="../../controllers/CoordinadorController.php?action=eventos"><i class="fa fa-fw fa-table"></i>Gestion del Calendario</a>
                    </li>
                    <li>
                        <a href="usuarios.php"><i class="fa fa-fw fa-edit"></i>Administraci&oacute;n de Usuarios</a>
                    </li>
                    <li>
                        <a href="../../controllers/CoordinadorController.php?action=ofertasPracticas"><i class="fa fa-fw fa-edit"></i>Gesti&oacute;n de las ofertas de empresas</a>
                    </li>
                    <li>
                        <a href="../../controllers/CoordinadorController.php?action=verSolicitantes"><i class="fa fa-fw fa-edit"></i>Asignaci&oacute;n Estudiante-Empresa</a>
                    </li>
                    <li>
                        <a href="../../controllers/CoordinadorController.php?action=listarPracticasAsignadas"><i class="fa fa-fw fa-edit"></i>Asignaci&oacute;n de Tutores</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Asignaciones de Tutores y creaci&oacute;n definitiva de las pr&aacute;cticas
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
			
				<?php
					if(isset($_GET["msgx"])){
						$msg = $_GET["msgx"];
						echo "<b style='color:red'>$msg</b>";
					}
				?>
				<br>
				<?php
				if(isset($_GET["msg"])){
					$msg = $_GET["msg"];
					echo "<b>$msg</b>";
				}
				?>
				<br>
				
				
				<a href="../../controllers/CoordinadorController.php?action=verPracticasCompleto" class="btn btn-sm btn-default btn-block"><b>Mostrar asignaciones realizadas</b></a>
				
				<br>
				<br>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-fw"></i><b>Asignaciones Pendientes</b></h3>
                            </div>
							
							<div>
							<table class="table">
							<thead>
								<tr>
									<th>Nombre Practica</th>
									<th>Estudiante Asignado</th>
									<th>Tutor</th>
									<th></th>
									<th></th>
								<tr>
							</thead>
							<tbody>
							<?php
								if(isset($_GET["datos"])&isset($_GET["datos2"])){
									$practicas = json_decode($_GET["datos"],true);
									$listaTutores = json_decode($_GET["datos2"],true);
									$i=0;
									foreach($practicas as $practica){
										echo "<tr>";
										echo "<td>".$practica["nombrePractica"]."</td>";
										echo "<td>".$practica["nombreEstudiante"]."</td>";
										echo '<form action="../../controllers/CoordinadorController.php" method="POST" id="'.$practica["nombrePractica"].'">';
										echo '<td>
											 <select name="seleccionar" form="'.$practica["nombrePractica"].'">';
										foreach($listaTutores as $tutor){
											echo '<option value="'.$tutor["idTutor"].'">'.$tutor["login"].'</option>';
										}
										echo "</select>
										</td>";
										echo "<td>";
										echo '<input type="hidden" name="idPractica" value="'.$practica["Practicas_idPracticas"].'"/>';
										echo '<input type="submit" class="btn btn-sm btn-default" value="Asignar"/>';
										echo "</td>";
										echo "<td>";
										echo "<a href='../../controllers/CoordinadorController.php?action=eliminaUna&id=".$practica["Practicas_idPracticas"]."' class='btn btn-sm btn-default'>Eliminar</a>";
										echo "</td>";
										echo '</form>';
										echo "</tr>";
										$i++;
									}
								}
							?>
							</tbody>
							</table>
							</div>
							
                        </div>
                    </div>
                </div>
                <!-- /.row -->
											
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
	

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>


</body>

</html>