<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Estudiante-Practicas ESEI</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../layouts/estudiante/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../layouts/estudiante/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../../layouts/estudiante/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../layouts/estudiante/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="../../views/estudiante/principal.php">Estudiante</a>
            </div>
            <!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
						<li>
                            <a href="mensajes.php"><i class="fa fa-fw fa-envelope"></i>Mensajes</a>
                        </li>
                        <li>
                            <a href="../../controllers/EstudianteController.php?action=verPerfil"><i class="fa fa-fw fa-gear"></i>Perfil</a>
                        </li>
                        <li>
                            <a href="../../controllers/EstudianteController.php?action=logout"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
                        </li>
			</ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="../../views/estudiante/principal.php"><i class="fa fa-fw fa-dashboard"></i>Home</a>
                    </li>
                    <li>
                        <a href="../../controllers/EstudianteController.php?action=asignaciones"><i class="fa fa-fw fa-edit"></i>Consultar Asignaciones</a>
                    </li>
                    <li>
                        <a href="../../controllers/EstudianteController.php?action=formularios"><i class="fa fa-fw fa-edit"></i>Gestion de Formularios</a>
                    </li>
                    <li>
                        <a href="../../controllers/EstudianteController.php?action=listarPracticas"><i class="fa fa-fw fa-edit"></i>Solicitar Pr&aacute;ctica</a>
                    </li>
                    <li>
                        <a href="anulaciones.php"><i class="fa fa-fw fa-edit"></i>Anulaciones y Cambios</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Solicitud de prácticas
                        </h1>
                    </div>
                </div>
                <!-- /.row -->	
				<?php
					if(isset($_GET["msg"])){
						$msg = $_GET["msg"];
						echo $msg;
					}
					
					if(isset($_GET["datos"])){
						$datos = json_decode($_GET["datos"],true);
							echo "<div class='row'>";
							echo "<div class='col-lg-12'>";
							echo "<div class='panel panel-default'>";
							echo "<div class='panel-heading'>";
								echo "<h3 class='panel-title'><i class='fa fa-fw'></i><b>Selecciona las 5 pr&aacute;cticas elegidas por orden de prioridad</b></h3>";
							echo "</div>";
							echo "<form id='solicitud' method='POST' action='../../controllers/EstudianteController.php'>";
							echo "<b>Prioridad 1:</b><select class='form-control' name='p1' form='solicitud'>";
							foreach($datos as $emp){
								echo "<option value='".$emp["titulo"]."'>".$emp["titulo"]."</option>";
							}
							echo "</select>";
							echo "<b>Prioridad 2:</b><select class='form-control' name='p2' form='solicitud'>";
							foreach($datos as $emp){
								echo "<option value='".$emp["titulo"]."'>".$emp["titulo"]."</option>";
							}
							echo "</select>";
							echo "<b>Prioridad 3:</b><select class='form-control' name='p3' form='solicitud'>";
							foreach($datos as $emp){
								echo "<option value='".$emp["titulo"]."'>".$emp["titulo"]."</option>";
							}
							echo "</select>";
							echo "<b>Prioridad 4:</b><select class='form-control' name='p4' form='solicitud'>";
							foreach($datos as $emp){
								echo "<option value='".$emp["titulo"]."'>".$emp["titulo"]."</option>";
							}
							echo "</select>";
							echo "<b>Prioridad 5:</b><select class='form-control' name='p5' form='solicitud'>";
							foreach($datos as $emp){
								echo "<option value='".$emp["titulo"]."'>".$emp["titulo"]."</option>";
							}
							echo "</select>";
							echo "<input type='hidden' name='formularioSolicitud'>";
							echo "<br>";
							echo "<button style='background:#E8E8E8' class='btn btn-sm btn-default btn-block' type='submit'><b>Enviar Solicitud</b></button>";
							
							echo "</form>";
							echo "</div>";
							echo "</div>";
							echo "</div>";	
							
							echo "<br>";
							echo "<br>";
							echo "<br>";
							echo "<h3>LISTADO DE PRACTICAS</h3>";
							echo "<br>";
							
							foreach($datos as $emp){
								echo "<div class='row'>";
								echo "<div class='col-lg-12'>";
								echo "<div class='panel panel-default'>";
								echo "<div class='panel-heading'>";
									echo "<h3 class='panel-title'><i class='fa fa-fw'></i><b>".$emp["titulo"]."</b></h3>";
								echo "</div>";
								$aux = "'".$emp["titulo"]."'";
								echo "<div id='".$emp["titulo"]."' style='display:none;'>";
									echo "<li>";
										echo "Descripcion:".$emp["descripcion"];
									echo "</li>";
									echo "<li>";
										echo "Periodo:".$emp["periodo"];
									echo "</li>";
									echo "<li>";
										echo "Titulacion:".$emp["titulacion"];
									echo "</li>";
									echo "<li>";
										echo "Fecha de inicio:".$emp["inicio"];
									echo "</li>";
									echo "<li>";
										echo "Fecha de finalizaci&oacute;n:".$emp["fin"];
									echo "</li>";
									echo "<li>";
										echo "Horario:".$emp["horario"];
									echo "</li>";
									echo "<li>";
										echo "Proyecto formativo:".$emp["pformativo"];
									echo "</li>";
									echo "<li>";
										echo "Empresa:".$emp["nombreEmpresa"];
									echo "</li>";
									echo "<li>";
										echo "Tutor de la Empresa:".$emp["tutorEmpresa"];
									echo "</li>";									
								echo "</div>";
								echo '<a href="#" onclick="cambiar('.$aux.');return false;">+info</a>';
								echo "</div>";
								echo "</div>";
								echo "</div>";	
							}
							
							
					}
				?>					

				
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
		function cambiar(esto){
			vista = document.getElementById(esto).style.display;
			
			if(vista == 'none')
				vista='block';
			else
				vista='none';
			document.getElementById(esto).style.display=vista;
		}
	</script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

</body>

</html>