<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Empresa-Practicas ESEI</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../layouts/empresa/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../layouts/empresa/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../../layouts/empresa/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../layouts/empresa/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="../../views/empresa/principal.php">Empresa</a>
            </div>
            <!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
						<li>
                            <a href="mensajes.php"><i class="fa fa-fw fa-envelope"></i>Mensajes</a>
                        </li>
                        <li>
                            <a href="../../controllers/EmpresaController.php?action=verPerfil"><i class="fa fa-fw fa-gear"></i>Perfil</a>
                        </li>
                        <li>
                            <a href="../../controllers/EmpresaController.php?action=logout"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
                        </li>
			</ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="../../views/empresa/principal.php"><i class="fa fa-fw fa-dashboard"></i>Home</a>
                    </li>
                    <li>
                        <a href="../../controllers/EmpresaController.php?action=asignaciones"><i class="fa fa-fw fa-edit"></i>Consultar Asignaciones</a>
                    </li>
                    <li>
                        <a href="../../controllers/EmpresaController.php?action=formularios"><i class="fa fa-fw fa-edit"></i>Gestion de Formularios</a>
                    </li>
                    <li>
                        <a href="gestionOfertas.php"><i class="fa fa-fw fa-edit"></i>Gestion de Ofertas</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Informaci&oacute;n de las pr&aacute;cticas asignadas
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
				
				<?php
					if(isset($_GET["msg"])){
						$msg = $_GET["msg"];
						echo "<b style='color:red'>$msg</b>";
						echo "</br>";
						echo "</br>";
					}

					if(isset($_GET["datos"])){
						$datos = json_decode($_GET["datos"],true);
						$i=0;
						foreach($datos as $emp){
							echo "<div class='row'>";
							echo "<div class='col-lg-12'>";
							echo "<div class='panel panel-default'>";
							
							echo "<div class='panel-heading'>";
								echo "<h3 class='panel-title'><i class='fa fa-fw'></i>".$emp["nombrePractica"]."</h3>";
							echo "</div>";
							
							echo '<a href="#" onclick="cambiar('.$i.');return false">Ver/Ocultar Info</a>';
							
							echo "<div id='".$i."' style='display:none';>";
							
							echo "<li>";
								echo "Fecha de Inicio:".$emp["inicioPractica"];
							echo "</li>";
							echo "<li>";
								echo "Fecha de Finalizaci&oacute;n:".$emp["finPractica"];
							echo "</li>";
							echo "<li>";
								echo "Horario:".$emp["horarioPractica"];
							echo "</li>";
							echo "<li>";
								echo "Tutor Acad&eacute;mico:".$emp["nombreTutor"]." ".$emp["apellidosTutor"];
							echo "</li>";
							echo "<li>";
								echo "Correo electr&oacute;nico del tutor:".$emp["emailTutor"];
							echo "</li>";
							echo "<li>";
								echo "Tel&eacute;fono del tutor:".$emp["telefonoTutor"];
							echo "</li>";
							echo "<li>";
								echo "Estudiante:".$emp["nombreEstudiante"]." ".$emp["apellidosEstudiante"];
							echo "</li>";
							echo "<li>";
								echo "Titulaci&oacute;n:".$emp["titulacionEstudiante"];
							echo "</li>";
							echo "<li>";
								echo "Correo electr&oacute;nico del estudiante:".$emp["emailEstudiante"];
							echo "</li>";
							echo "<li>";
								echo "Tel&eacute;fono del estudiante:".$emp["telefonoEstudiante"];
							echo "</li>";
							
							echo "</div>";
							$i=$i+1;
							
							echo "</div>";
							echo "</div>";
							echo "</div>";
							echo "</br>";
							echo "</br>";
						}
					}
				?>	
			
							
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
		function cambiar(esto){
			vista = document.getElementById(esto).style.display;
			
			if(vista == 'none')
				vista='block';
			else
				vista='none';
			document.getElementById(esto).style.display=vista;
		}
	</script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

</body>

</html>