<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Empresa-Practicas ESEI</title>
	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- Bootstrap Core CSS -->
    <link href="../../layouts/coordinador/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../layouts/coordinador/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../../layouts/coordinador/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../layouts/coordinador/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="../../views/empresa/principal.php">Empresa</a>
            </div>
            <!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
						<li>
                            <a href="mensajes.php"><i class="fa fa-fw fa-envelope"></i>Mensajes</a>
                        </li>
                        <li>
                            <a href="../../controllers/EmpresaController.php?action=verPerfil"><i class="fa fa-fw fa-gear"></i>Perfil</a>
                        </li>
                        <li>
                            <a href="../../controllers/EmpresaController.php?action=logout"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
                        </li>
			</ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="../../views/empresa/principal.php"><i class="fa fa-fw fa-dashboard"></i>Home</a>
                    </li>
                    <li>
                        <a href="../../controllers/EmpresaController.php?action=asignaciones"><i class="fa fa-fw fa-edit"></i>Consultar Asignaciones</a>
                    </li>
                    <li>
                        <a href="../../controllers/EmpresaController.php?action=formularios"><i class="fa fa-fw fa-edit"></i>Gestion de Formularios</a>
                    </li>
                    <li>
                        <a href="gestionOfertas.php"><i class="fa fa-fw fa-edit"></i>Gestion de Ofertas</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           Gesti&oacute;n de ofertas de pr&aacute;cticas
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
				
				<?php
					if(isset($_GET["msg"])){
						$msg = $_GET["msg"];
						echo "<b style='color:red'>$msg</b>";
						echo "</br>";
						echo "</br>";
					}
					
					if(isset($_GET["empresa"])){
						$empresa = $_GET["empresa"];
					}else{
						header("Location: ../../controllers/EmpresaController.php?action=getEmpresa");					
					}
				?>	
				
				<div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-fw"></i><b>Ofertas publicadas</b></h3>
                            </div> 
							<a href="../../controllers/EmpresaController.php?action=verOfertas"><b>Ver ofertas publicadas de la empresa<b></a>
							
							
                        </div>
                    </div>
                </div>
                <!-- /.row -->
				
				
				<br>			
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-fw"></i><b>Enviar una oferta</b></h3>
                            </div> 
							<form class="form-signin" onsubmit="return validar(this)" name="f1" action="../../controllers/EmpresaController.php" method="POST" id="login">
							<b>Titulo</b><input type="text" name="titulo" class="form-control" required>
							</br>
							<b>Descripci&oacute;n</b><textarea name="descripcion" rows="10" cols="40" class="form-control" required></textarea>
							</br>
							</br>
							<b>Per&iacute;odo</b>
							<select class="form-control" name="periodo" form="login">
								<option value="primero">Primer cuatrimestre</option>
								<option value="segundo">Segundo cuatrimestre</option>
							</select>
							</br>
							<b>Titulaci&oacute;n</b>	
							<select class="form-control" name="titulacion" form="login">
								<option value="grado">Grado</option>
								<option value="master">M&aacute;ster</option>
								<option value="indiferente">Indiferente</option>
							</select>
							</br>
							<input type="hidden" name="nombreEmpresa" value="<?php if(isset($_GET["empresa"])){echo $empresa;} ?>"/>
							<b>Fecha de inicio</b><input type="text" id="datepicker" name="inicio" class="form-control" required>
							</br>
							<b>Fecha de finalizaci&oacute;n</b><input type="text" id="datepicker2" name="fin" class="form-control" required>
							</br>
							<b>Horario de trabajo durante la pr&aacute;ctica</b><input type="text" name="horario" class="form-control" placeholder="HH:MM-HH:MM" required>
							</br>
							<b>Proyecto formativo</b><textarea name="pformativo" rows="10" cols="40" class="form-control" required></textarea>
							</br>						
							<button style="background:#E8E8E8" class="btn btn-sm btn-default btn-block" type="submit">
								<b>Enviar</b></button>
							</form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->				

													
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
	<script>
		function validar(f){
			horario = f.horario.value;
			inicio = f.inicio.value;
			fin = f.fin.value;
			
			validarHorario = isValidHorario(horario);
			validarFechas = isValidFechas(inicio,fin);
			validarInicio = isPosterior(inicio);
			validarFin = isPosterior(fin);
			validInicio = isValidFecha(inicio);
			validFin = isValidFecha(fin);
			
			if(validarHorario == false){
				alert("|INFO| El formato del horario no es valido.Un ejemplo de formato valido es: 10:00-15:00");
				return false;
			}else if(validarFechas == false){
				alert("|INFO| La fecha de inicio no puede ser mas tarde que la fecha de finalización.");
				return false;
			}else if(validarInicio == false || validarFin == false){
				alert("|INFO| Las fechas deben ser posteriores a la fecha actual");
				return false;
			}else if(validInicio ==false){
				alert("|INFO| El formato de la fecha de inicio no es correcto: DD/MM/YYYY");
				return false;
			}else if(validFin == false){
				alert("|INFO| El formato de la fecha de finalizacion no es correcto: DD/MM/YYYY");
				return false;
			}else{
				return true;
			}
		}
		
		function isValidFecha(fNac){
			expresion_regular = /^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/;
			if(expresion_regular.test(fNac)){
				return true;
			}else{
				return false;
			}
		}
		
		function isPosterior(fecha){
			var dt = new Date();
			
			var month = dt.getMonth()+1;
			var day = dt.getDate();
			var year = dt.getFullYear();
			date = fecha.split('-');
			if(date[0]>year){
				return true;
			}else if(date[0] == year & date[1]>month){
				return true;
			}else if(date[0] == year & date[1] == month & date[2]>day){
				return true;
			}else{
				return false;
			}
		}
		
		function isValidFechas(inicio,fin){
			date1 = inicio.split('-');
			date2 = fin.split('-');
			if(date2[0]>date1[0]){
				return true;
			}else if(date2[0] == date1[0] & date2[1]>date1[1]){
				return true;
			}else if(date2[0] == date1[0] & date2[1] == date1[1] & date2[2]>date1[2]){
				return true;
			}else{
				return false;
			}
		}
		
		function isValidHorario(horario){
			expresion_regular_horario = /^([0-1][0-9]|2[0-3]):[0-5][0-9]-([0-1][0-9]|2[0-3]):[0-5][0-9]$/;
			if(expresion_regular_horario.test(horario) == true){
				return true;
			}else{
				return false;
			}		
		}
	</script>
	
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script>
		$('#datepicker').datepicker({
		dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, yearRange: '-0:+30'});
		$('#datepicker2').datepicker({
		dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, yearRange: '-0:+30'});
	</script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>


</body>

</html>