<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Empresa-Practicas ESEI</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../layouts/coordinador/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../layouts/coordinador/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../../layouts/coordinador/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../layouts/coordinador/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="../../views/empresa/principal.php">Empresa</a>
            </div>
            <!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
						<li>
                            <a href="mensajes.php"><i class="fa fa-fw fa-envelope"></i>Mensajes</a>
                        </li>
                        <li>
                            <a href="../../controllers/EmpresaController.php?action=verPerfil"><i class="fa fa-fw fa-gear"></i>Perfil</a>
                        </li>
                        <li>
                            <a href="../../controllers/EmpresaController.php?action=logout"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
                        </li>
			</ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="../../views/empresa/principal.php"><i class="fa fa-fw fa-dashboard"></i>Home</a>
                    </li>
                    <li>
                        <a href="../../controllers/EmpresaController.php?action=asignaciones"><i class="fa fa-fw fa-edit"></i>Consultar Asignaciones</a>
                    </li>
                    <li>
                        <a href="../../controllers/EmpresaController.php?action=formularios"><i class="fa fa-fw fa-edit"></i>Gestion de Formularios</a>
                    </li>
                    <li>
                        <a href="gestionOfertas.php"><i class="fa fa-fw fa-edit"></i>Gestion de Ofertas</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Enviar oferta de pr&aacute;cticas
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
				
				<?php
					if(isset($_GET["msg"])){
						$msg = $_GET["msg"];
						echo "<b>$msg</b>";
						echo "</br>";
						echo "</br>";
					}
				?>	
							
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-fw"></i><b>Formulario</b></h3>
                            </div> 
							<form class="form-signin" name="f1" action="../../controllers/EmpresaController.php" method="POST" id="login">
							Titulo:<input type="text" name="titulo" class="form-control" placeholder="Titulo identificador de la practica" required>
							</br>
							Descripci&oacute;n:<textarea name="descripcion" rows="10" cols="40" class="form-control" required></textarea>
							</br>
							Nombre de la empresa:<input type="text" name="nombreEmpresa" class="form-control" placeholder="Nombre de la empresa" required>
							</br>
							Per&iacute;odo:
							<select class="form-control" name="periodo" form="login">
								<option value="primero">Primer cuatrimestre</option>
								<option value="segundo">Segundo cuatrimestre</option>
							</select>
							</br>
							Titulaci&oacute;n:
							<select class="form-control" name="titulacion" form="login">
								<option value="grado">Grado</option>
								<option value="master">M&aacute;ster</option>
								<option value="indiferente">Indiferente</option>
							</select>
							</br>
							Fecha de inicio:<input type="date" name="inicio" class="form-control" required>
							</br>
							Fecha de finalizaci&oacute;n:<input type="date" name="fin" class="form-control" required>
							</br>
							Horario de trabajo durante la pr&aacute;ctica:<input type="text" name="horario" class="form-control" placeholder="ej: 10:00-17:00" required>
							</br>
							Proyecto formativo:<textarea name="pformativo" rows="10" cols="40" class="form-control" required></textarea>
							</br>						
							<button style="background:#E8E8E8" class="btn btn-sm btn-default btn-block" type="submit">
								<b>Enviar</b></button>
							</form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->				

													
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>


</body>

</html>