  <!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
		<div class="row">
		    <div class="text-center">
                <h2 class="page-header">
                    Formulario de Acceso
                </h2>
            </div>
			<?php
				if(isset($_GET["msg"])){
					$msg = $_GET["msg"];
					echo $msg;
				}
			?>
				<div class="col-sm-6 col-md-4 col-md-offset-4">
					<h1 class="text-center login-title"></h1>
					<div class="account-wall">
						<form class="form-signin" action="../../controllers/ValidationsController.php" method="POST" id="login">
						<input type="text" name="user" class="form-control" placeholder="Usuario" required autofocus>
						</br>
						<input type="password" name="password" class="form-control" placeholder="Password" required>
						</br>
						<select class="form-control" name="userList" form="login">
							<option value="Coordinador">Coordinador</option>
							<option value="Estudiante">Estudiante</option>
							<option value="Empresa">Empresa</option>
							<option value="Tutor">Tutor</option>
						</select>
						</br>
						</br>
						<button class="btn btn-sm btn-default btn-block" type="submit">
							Acceder</button>
						</form>
					</div>
					</br>
					<a href="registro.php" class="text-center new-account">Create an account </a>
				</div>
		</div>
        <!-- /.row -->
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; TFGPracticasESEI 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="layouts/main/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="layouts/main/js/bootstrap.min.js"></script>
