    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill">
					<img src="layouts/main/img/esei2.jpg" alt="ESEI"/>
				</div>
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Prácticas curriculares
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Grado</h4>
                    </div>
                    <div class="panel-body">
                        <p>Prácticas destinadas a alumnos matriculados en el Grado en Ingeniería informática.Para consultar más información:</p>
                        <a href="http://esei.uvigo.es/index.php?id=796&L=1_" class="btn btn-default">Ir al sitio</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Máster</h4>
                    </div>
                    <div class="panel-body">
                        <p>Prácticas destinadas a alumnos matriculados en el Máster. Puede consultar más información en el siguiente enlace:</p>
                        <a href="http://esei.uvigo.es/index.php?id=797&L=1_" class="btn btn-default">Ir al sitio</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>Normativa</h4>
                    </div>
                    <div class="panel-body">
                        <p>La normativa vigente para la realización de las prácticas académicas se puede consultar en el siguiente enlace:</p>
                        <a href="http://esei.uvigo.es/index.php?id=449" class="btn btn-default">Ir al sitio</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; TFGPracticasESEI 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="layouts/main/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="layouts/main/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
